
*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #548587;
    text-align: center; /* makes the box at centre */

}

.container{
    height: 70vh;
   display: flex;
    justify-content: center;
    align-items: center;
   
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;       /* makes the boxes in stright line */
    flex-wrap: wrap;     /* print the boxes in next line */
    justify-content: center;
    align-items: center;     /* these makes the centre of game class */
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    background-color: #ffffc7;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}

#new{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;

}
.msg-contain{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.draw{
   
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
#msg{
    font-size: 5vmin;
    

}
.chupa{
    display: none;
}

.hide{
    display: none; 
}

